
.paz {

}

.paz:after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 6.5px;
    width: 34.5px;
    height: 34.5px;
    border: 1px solid black;
    transform: rotate( 45deg);
    pointer-events: none;
}
